/** 確定シフト PDF作成時の元HTML */

body, html, #contents {
    width: 99%;
}
.fc-timeline-event .fc-content {
    white-space: pre-line;
}
div {
    overflow: visible !important;
}
#fix-shift-table {
}
.fc-time-area col {
    min-width: 3em;
}
.fc-event {
    line-height: 1;
}
.fc-rows td.fc-widget-content div,
.fc-resource-area td.fc-widget-content div,
.fc-event-container {
    height: 3.5em !important;
}
.fc-timeline-event,
.fc-timeline-event .fc-time {
    border: none !important;
}
.fc-timeline-event .fc-content {
    padding: 2px;
}

.fc-unthemed .fc-divider,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
    border-color: grey;
}
